<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You, <%= @user.login %>, banned</h1>
    <p>
      You successfully banned
    </p>
  </body>
</html>