<% if @type=='topics'%>
<table id='table'>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Post count</th>
	</tr>

	<% @arr.each do |topic| %>
	<tr>
		<td class='center_text'><%= link_to topic[1].title, '/topics/'+topic[0].to_s %></td>
		<td class='center_text'><%= topic[1].user.username %></td>
		<td class='center_text'><%= topic[1].posts.count %></td>
	</tr>
	<% end %>
</table>
<% else %>
<% @posts=@arr %>
<% @search=true %>
<%= render 'topics/post'%>
<% end %>