/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

 #table{
 	margin-left: auto;
 	margin-right: auto;
 	width: 100%
 }

 .desc{
 	font-size: 10px;
 	color: gray;
 }

 .leftimg {
 	float: left;
 	margin: 7px 7px 7px 0;
 }

 .like{
 	float: right;
 }

 .likes_list{
 	background-color: rgb(141, 202, 141);
 	margin: 6px;
 }

 .center_text{
 	text-align: center;
 }

 .left_text{
 	text-align: left;
 }

 .user_form{
 	padding: 6px;
 	margin-bottom: 3px;
 	background-color: #EEE;
 	border-radius: 6px;
 }

 .action_column{
 	width: 90px;
 }

 .title_column{
 	width: 50%;
 }

 .info_column{
 	text-align: center;
 }

 #banned{
 	color: red;
 }