// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.msg_user{
	width: 120px;
	height: 160px;
}

.msg_body{

}

.msg_body_u{
	height: 140px;
}

.msg_body_d{
	height: 20px;
}