<div class="btn-toolbar">
  <div class="btn-group">
      <button id="btn_bold" class="btn" data-original-title="Bold - Ctrl+B">Bold</button>
      <button id="btn_italic" class="btn" data-original-title="Italic - Ctrl+I">Italic</button>
      <button id="btn_img" class="btn" data-original-title="Img">Img</button>
      <button id="btn_url" class="btn" data-original-title="URL">Url</button>
  </div>
</div>